* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(1, 1, 41);
    color: white;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana,
        sans-serif;
    margin: 0 auto;
    width: 70%;
}

a {
    color: lightblue;
}

a:hover {
    color: steelblue;
    font-weight: bold;
}

ul li {
    margin-left: 40px;
    list-style-type: circle;
}

button {
    background-color: #405cf5;
    color: #fff;

    height: 44px;
    width: 100%;

    font-size: 1.5rem;
    font-family: -apple-system, system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Ubuntu, sans-serif;

    border-radius: 6px;
    border-width: 0;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0,
        rgba(0, 0, 0, 0.07) 0 1px 1px 0;

    cursor: pointer;

    line-height: 1.15;
    margin: 12px 0 0;
    outline: none;
    padding: 0 25px;
}

.hero {
    width: 100%;
}

.lookingforwork {
    background-color: rgb(7, 7, 88);
    border-radius: 10px;
    margin: 0 auto;
    width: 70%;
}

.lookingforwork .randomquote {
    border: 1px solid skyblue;
    border-radius: 10px;
    padding: 20px;
}

blockquote {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2rem;
    width: 90%;
    margin: 1rem 0 1rem 1rem;
    padding: 2rem;
    border-left: 5px solid steelblue;
    margin: 1rem auto;
    width: 70%;
}

.section {
    margin: 1rem;
    padding: 1rem;
    line-height: 2;
    margin: 0 auto;
    width: 70%;
}

.section h1 {
    font-size: 2rem;
    text-decoration: underline;
}

.section h2 {
    font-size: 1.1rem;
}

.section p {
    font-size: 1rem;
    margin: 1rem 0;
}

.section em {
    color: lightblue;
}

.section b {
    color: lightblue;
    font-weight: bold;
}

@media (max-width: 1920px) {
    body {
        margin: 0 auto;
        width: 80%;
    }

    .lookingforwork {
        width: 80%;
    }

    blockquote {
        width: 80%;
    }

    .section {
        width: 80%;
    }
}
@media (max-width: 1200px) {
    body {
        margin: 0 auto;
        width: 90%;
    }

    .lookingforwork {
        width: 90%;
    }

    blockquote {
        width: 90%;
    }

    .section {
        width: 90%;
    }
}

@media (max-width: 992px) {
    body {
        margin: 0 auto;
        width: 90%;
    }

    .lookingforwork {
        width: 90%;
    }

    blockquote {
        width: 90%;
    }

    .section {
        width: 90%;
    }
}

@media (max-width: 768px) {
    body {
        margin: 0 auto;
        width: 95%;
    }

    .lookingforwork {
        width: 100%;
    }

    blockquote {
        width: 100%;
    }

    .section {
        width: 100%;
    }
}

@media (max-width: 576px) {
    body {
        margin: 0 auto;
        width: 95%;
    }

    .lookingforwork {
        width: 100%;
    }

    blockquote {
        width: 100%;
    }

    .section {
        width: 100%;
    }
}
